@tailwind base;
@tailwind components;
@tailwind utilities;

/* небольшие твики */
.page-root {
  min-height: 100vh;
  position: relative;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* если хочешь — можно добавить кастомные ut */
