name: Fast Check
on:
  push:
    branches:
      - "**"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Check Style
        run: mvn fmt:check

      - name: Run Unit Tests
        run: mvn test -Dgroups="!smoke & !heavy & !integration"